
html{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main{
  background-color: rgba(255, 236, 170, .1);
}

.start-page{
  width: 100%;
  height: 100%;
  background:
  linear-gradient(
    rgba(115, 140, 166, .2),
    rgba(115, 140, 166, .2)
    ),
  url("https://static.pexels.com/photos/159697/book-reading-library-literature-159697.jpeg");
background-size: cover;
}

h1{
  font-family: 'Vollkorn', serif;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}


fieldset{
  border: none;
  margin: 0px;
  padding: 0px
}

.search-label{
  font-size: 22px;
  font-family: 'Vollkorn', serif;
}

.book-search-input{
  width: 80%;
  height: 30px;
  margin: 0px 10px 0px 10px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
}

.input-and-button{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 10px 0px 10px 0px;
}

/*removes chrome autofill color */
.search-form input:-webkit-autofill,
.search-form input:-webkit-autofill:hover,
.search-form input:-webkit-autofill:focus,
.search-form input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}

.search-form button{
  height: 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  cursor: pointer;
  border-radius: 3px;
  -moz-appearance: button-bevel;
}

.search-form button:hover{
  background-color: #000000;
  color: white;
  /* -moz-appearance: button-bevel; */
}

.search-form button:active{
  background-color: rgba(255, 255, 255, 255);
  transform: translateY(4px);
  -moz-appearance: button-bevel;
}

.result-item{
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #728CA6;
}

.result-item > a{
  cursor: pointer;
  text-decoration: none;
  font-family: 'Vollkorn', serif;
  font-weight: lighter;
  color: black;
}

h2{
  font-family: 'Vollkorn', serif;
  font-weight: bolder;
}

h3{
  font-family: 'Vollkorn', serif;
  font-size: 17px;
  text-align: center;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #728CA6;
}

.purchase-button{
  height: 20px;
  border: 1px solid #4A6B8A;
  border-radius: 3px;
  background-color: #4A6B8A;
}

.purchase-button a{
  text-decoration: none;
  padding: 4.5px;
  color: white;
  font-size: 12px;
}
