
html{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main-container{
  background-color: rgba(255, 236, 170, .3);
}

.start-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background:
  linear-gradient(
    rgba(115, 140, 166, .2),
    rgba(115, 140, 166, .2)
    ),
  url("https://static.pexels.com/photos/159697/book-reading-library-literature-159697.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.start-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

h1{
  font-family: 'Vollkorn', serif;
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0px 30px 0px;
}

.search-form{
  width: 100%;
  margin: 10px 0px 10px 0px;
}


fieldset{
  border: none;
  margin: 0px;
  padding: 0px;
}


.book-search-input{
  width: 75%;
  height: 30px;
  margin-right: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  outline: none;
}

.book-search-input::placeholder{
  color: black;
}

.input-and-button{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

/*removes chrome autofill color */
.search-form input:-webkit-autofill,
.search-form input:-webkit-autofill:hover,
.search-form input:-webkit-autofill:focus,
.search-form input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}

.search-form button{
  height: 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  cursor: pointer;
  border-radius: 3px;
  -moz-appearance: button-bevel;
}

.search-form button:hover{
  background-color: #000000;
  color: white;
  /* -moz-appearance: button-bevel; */
}

.search-form button:active{
  background-color: rgba(255, 255, 255, 255);
  transform: translateY(4px);
  -moz-appearance: button-bevel;
}

.error-message{
  background-color: rgba(255, 255, 255, .7);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}

.result-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 15px;
  margin-right: 15px;
  width: 150px;
  height: 290px;
  border-bottom: 1px solid #728CA6;
}

.result-item > a{
  cursor: pointer;
  text-decoration: none;
  font-family: 'Vollkorn', serif;
  font-weight: lighter;
  color: black;
}

.result-item p{
  text-align: center;
}

.book-suggestions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  clear: both;
}

.suggestions-header{
  float: left;
  margin: 0 auto;
  width: 100%;
}

.suggestions-header h2{
  font-family: 'Vollkorn', serif;
  font-weight: bolder;
  text-align: center;
  height: 50px;
  width: 80%;
  margin: 30px auto 10px auto;
  border-bottom: 1px solid #728CA6;
}

.cover-image{
  margin-top: auto;
  height: 187.5px;
  width: 125px;
  margin: 10px;
}

h3{
  font-family: 'Vollkorn', serif;
  font-size: 17px;
  text-align: center;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #728CA6;
}

.purchase-button{
  height: 20px;
  border: 1px solid #4A6B8A;
  border-radius: 3px;
  background-color: #4A6B8A;
}

.purchase-button a{
  text-decoration: none;
  padding: 4.5px;
  color: white;
  font-size: 12px;
}

.price-container{
  margin: 2%;
}

.individual-price-info{
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin: 10px 0px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #728CA6;
  font-size: 14px;
}

.individual-price-info span{
  margin: 5px;
}
